@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .container {
    @apply max-w-[1440px] mx-auto px-3;
  }
}

@layer base {
  html,
  body{
    font-family: 'Roboto', sans-serif;
  }
  div.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
  }
  h1{
    @apply mb-4 text-[32px] md:text-[48px] font-bold;
  }
  h2{
    @apply mb-4 text-[28px] md:text-[36px] font-bold;
  }
  h3{
    @apply mb-4 text-[24px] md:text-[30px] font-bold;
  }
  details h3{
    @apply text-[28px] md:text-[20px];

  }
  h4{
    @apply mb-4 text-[20px] md:text-[24px] font-bold;
  }
  h5{
    @apply mb-4 text-[28px] md:text-[20px] font-bold;
  }
  h6{
    @apply mb-4 text-[16px] font-bold;
  }
  p{
    @apply mb-4;
  }
  p:last-child{
    @apply mb-0;
  }
  img{
    @apply w-full h-full object-cover
  }
  .button{
    @apply bg-rp-blue inline-block text-white font-bold p-[10px] md:py-3 md:px-8;
  }
  section:not(.intro){
    @apply mb-8 md:mb-[100px];
  }
  section:not(.intro):last-child{
    @apply mb-0
  }
  ul,
  ol{
    @apply mb-[16px] ml-[15px];
  }
  ul{
    @apply list-disc;
  }
  header ul{
    @apply list-none;
  }
  ol{
    @apply list-decimal;
  }
}